body, html {
    background-color: #e9e9e9 !important;
}
.hero-body {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.features {
    padding: 1rem 0;
}
.features .columns {
    justify-content: space-around;
}
.features .icon {
    margin-bottom: 0.5rem;
}